.container{
    display: flex;
    /*flex-direction: flex;*/
    /*flex-wrap: wrap-reverse;*/
    justify-content: space-evenly;
}

.col1{
    border: solid;
    width: 20%;
}

.col2{
    border: solid;
    width: 80%;
}

.subitem{
    border: dotted;
    display: flex;
    margin: 2%;

}

.item{
    border: dashed;
}