table {
    width:550px; 
    height:350px; 
    border:solid;
}
table tr {
    font:bold 46px Verdana; 
    color:black; 
    border: solid;
}
table tr td {
    text-align:center; 
    width:33.33%; 
    border: solid;
}
table tr td:hover {
    /*cursor:pointer;*/
}
input[type=button] {
    width:150px; 
    height:50px; 
    font-size:20px; 
    font-weight:bold; 
    margin-bottom:20px;
}
fieldset {
    font-size:20; 
    font-weight:bold; 
    border:solid; 
    width: 300px; 
    margin-bottom:25px;
}