/* Seletor de classe */
.cabecalho{
    border-style: dotted;
    margin: 5%;
    padding: 5%;
}

.lista{

}

.conteudo{
    border-style: dashed;
}

/* Seletor de ID  */
#titulop{

}
/* Seletor de elemento */
.conteudo h3{
    color: blueviolet;
}