body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu1uonzUK1CqgUW5Qf62rwxutUGMK_XWwr7w&usqp=CAU");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Seletor de elemento */
li{
    color: red;
    background-color: rgba(127, 127, 127, 0.2);
}
/* Seletor de id */
#seletores{
    background-color: burlywood;
}
/* Seletor de classe */
.minhaClasse{
    text-align: center;
}