body{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    text-align: center;
}

div{
    border: dotted #CCCCCC;
    margin: 1%;
}
.texto{
    font-size: x-large;
}

.campos{
    border: none;
    width: 50%;
}

.container{
    display: flex;
}

.botao:hover{
    background-color: #22FF00;
    color: white;
}