body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    border-style: solid;
    border-color: #777777;
    border-radius: 2em;
    padding: 5%;
    border-width: 0.1em;
    width: 45%;
    margin-left: 22%;
    margin-right: 22%;
}
.titulos{
    text-align: center;
}

div{
    margin: 3%;
}

.inputexto{
    padding: 1%;
    border-color: #BBBBBB;
    border-radius: 0.5em;
    width: 100%;
}


.labeltexto{
    margin-right: 2%;
    display: block;
}