a:link{
    color: green;
}

a:visited{
    color: hotpink;
}

a:hover{
    background-color: aquamarine;
}

.outer{
    border: 5px solid black;
}

.box{
    margin: 3%;
    /*width: calc(20% - 30px);*/
    width: 20%;
    background-color: rebeccapurple;
    padding: 1%;
    color: white;
    height: 55%;
    transform: rotate(0.9turn);
}