body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem;
}

.autor{
    color: hotpink;
    /* short hand */
    border-bottom: dotted 1rem rebeccapurple;
    font-size: 3em;
}

.prof{
    color: rgb(125, 125, 125);
}

.description{
    color: #333333;
}

.contato{
    border: solid black;
    padding: 1rem;
    text-align: center;
}

.contato li{
    text-align: left;
    
}

.iconnet{
    font-size: 2rem;
}